<%= form_with(model: @client, local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :document %>
    <%= f.text_field :document %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>