<h1><%= @client.name %></h1>
<dl>
  <dt>Email:</dt>
  <dd><%= @client.email %></dd>
  <dt>Documento:</dt>
  <dd><%= @client.formatted_document%></dd>
</dl>
<<section>
  <h1> Agendamentos</h1>
    <% @client.rentals.each do |rental| %>
      <div>
        <dl>
          <dt>Código</dt>
          <dd><%= rental.code %></dd>
          <dt>Categoria</dt>
          <dd><%= rental.car_category.name %></dd>
        </dl>
        <%= link_to 'Iniciar Locação', start_rental_path(rental.id) %>
      </div>>
    <% end %>
</section>>