 <dl>
    <dt>Código</dt>
    <dd><%= @rental.code %></dd>
    <dt>Categoria</dt>
    <dd><%= @rental.car_category.name %></dd>
    <dt>Status</dt>
    <dd><%= I18n.translate @rental.status %></dd>
    <dt>Cliente</dt>
    <dd><%= @rental.client.name %></dd>

    <%#= @car.description%>
  </dl>

  <% if @rental.ongoing? %>
    <h2>Dados da Locação </h2>
    <dl>
      <dt>Horário da Retirada:</dt>
      <dd><%= I18n.localize @rental.car_rental.start_date, format: :custom %></dd> <%# format: :custom é uma customização que fiz no I18n para formatar a data %>
      <dt>Carro Retirado:</dt>
      <dd><%= @rental.car_rental.car.description %></dd>
      <dt>Usuário Responsável:</dt>
      <dd><%= @rental.car_rental.user.email %></dd>
    </dl>
  <% end %>  